/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 Chrome version,last 4 Firefox version,last 4 Safari version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1060x;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
  margin-bottom: 0;

}

.navigation {
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: space-between;
  height: 64px;

}

.logo {
  position: relative;
  margin-right: 44px;

}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.navigation-link-favorite {
  position: relative;
}

.favorite-counter {
  box-sizing: border-box;
  height: 20px;
  min-width: 20px;
  background-color: #7DB54F;
  color: white;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  margin: 0;
  top: -9px;
  left: 8px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 510px;
  min-height: 24px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navigation-list .navigation-link-current {
  text-decoration: none;
  border-bottom: 2px solid #756257;
  padding-bottom: 17px;
}

.navigation-list .navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #756257;
  padding-bottom: 17px;
}


.navigation-user {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

}

.navigation-icon-item {
  position: relative
}



.navigation-item {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.navigation-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: black;
}

.navigation-item:last-child {
  margin: 0;
}

.header-button {
  min-width: 160px;
}

.main-index {
  text-align: center;
}

.main-container {
  width: 1200px;
  flex-grow: 1;
  height: 100%;
}

.main-catalog {
  text-align: left;
  width: 1200px;
  flex-grow: 1;
  height: 100%;
}

.page-container {
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;

}

.hero {
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../image/index/svg/hero-border.svg"), url("../image/index/jpeg/hero-main-foto.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 51px;
  min-height: 485px;
  box-sizing: border-box;
}

.main-title {
  display: block;
  margin: 0 auto;
}

.welcome {
  margin-bottom: 11px;
}

.gorgeous {
  margin-bottom: 54px;
}

.sedona {
  margin-bottom: 82px;
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.title-container-advantages {
  box-sizing: border-box;
  padding: 69px 85px;
  margin-bottom: 21px;
}

.title-container-services {
  padding: 64px 85px;
}

.title-container-with-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 96px 0;
  box-sizing: border-box;
}

.title-container-with-button-subsribe {
  padding-bottom: 104px;
}

.title-container-with-button-catalog {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.title {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.main-advantages-title {
  margin: 0 auto 25px auto;
}

.main-services-title {
  margin: 0 auto 20px auto;
}

.descriptions {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;

}

/* advantage */

.advantages-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.advantages-image {
  display: block;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62;
}

.advantages-title::before {
  position: absolute;
  width: 60px;
  height: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  left: 50%;
  content: "";
  bottom: -32px;
  margin-left: -30px;
}

.advantages-item:first-child .advantages-title::before,
.advantages-item:last-child .advantages-title::before {
  background: rgba(255, 255, 255, 0.30)
}


.advantages-item {
  max-width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 103px 85px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(131, 179, 211, 0.2);
  gap: 60px;
}


.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12)
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: #FFFFFF;
  background: #82B3D3;
}


/* .advantages-line {
  width: 60px;
  height: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.3);

}

.advantages-line-edge {
  width: 60px;
  height: 2px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
} */

/* .advantages-line:first-child {
  width: 60px;
  height: 2px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.advantages-line:last-child {
  width: 60px;
  height: 2px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
} */


.advantages-item-picture {
  display: block;
  margin: auto;
  padding: 0;
  width: 800px;
  box-sizing: border-box;
}

.advantages-description {
  margin: 0;
}

/* services */

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
  box-sizing: border-box;
}

.services-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 30px auto;
}

.services-image {
  order: -1;
}

.services-description {
  margin: 0;
  padding: 0;
}

/* selection */

.descriptions-container-with-button {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  display: block;
  width: 600px;
  margin-bottom: 54px;
}

/*subscription  */

.subscription {
  color: #FFFFFF;
  background-image: url("../image/index/jpeg/subscribe-background.png");
  background-size: 100% auto;
  background-color: #82B3D3;
  background-repeat: no-repeat;

}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
}

.subscription-description {
  display: block;
  width: 592px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  width: 684px;
  margin: 0;
  padding: 0;
  justify-content: end;
}

.subscription-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px transparent;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}



.subscription-button {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 8px 50px;
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  cursor: pointer;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:focus {
  background: #68A2CA;
}

/* catalog */

.catalog-hotels {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../image/catalog/jpeg/catalog-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
}

.inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* breadcrumbs-list */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-icon {
  fill: white;
}

.breadcrumbs-icon:hover svg {
  fill: rgba(255, 255, 255, 0.60);
}

/* catalog-filter */
.results {
  margin: 0 auto;
  padding: 50px 70px 60px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 39px 40px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item {
  margin-bottom: 15px;
  cursor: pointer;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}

.catalog-filter-item:focus {
  border: 2px #83B3D3 solid
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;

}

.catalog-filter-group:nth-child(2) {
  margin-right: auto;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}


.contol-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 4px;
  left: 0;
  top: 2px;

}

.contol-mark:focus {
  border: 3px #83B3D3 solid;
}

.control-input[type="checkbox"]:checked + .contol-mark {
  background-image: url("../image/catalog/svg/icon-tick.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.contol-label {
  margin-bottom: 16px;
}

.radio-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 2px;
  border: 0;
}

.radio-mark:focus {
  border: 3px #83B3D3 solid;
}

.control-input[type="radio"]:checked + .radio-mark {
  background-image: url("../image/catalog/svg/icon-radio.svg");
  background-repeat: no-repeat;
  z-index: 1;
}


.range-lable {
  position: relative;
}

.range-lable span {
  position: absolute;
  color: #000000;
  opacity: 0.3;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}


.price-filter-group {
  display: grid;
  grid-template-columns: 143px 143px;
  grid-template-rows: 48px 12px;
  gap: 44px 2px;
}

.price-filter {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-filter-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px transparent;
  background-color: #F2F2F2;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
}

.price-filter-field-lowest {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-filter-field-highest {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range {
  grid-column: 1/3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: grey;
  padding: 0;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 1.50px #83B3D3 solid;
}

.range-toggle:active {
  border: 1px #83B3D3 solid;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.catalog-filter-buttons {
  margin: 0;
  padding: 0;
  min-width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
  border: none;
}

.catalog-filter-button {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}

.catalog-top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  gap: 70px;
}

.title-top-row {
  width: 350px;
  margin: auto;
  margin-left: 0;
}

.catalog-top-buttons {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.select-control {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
  appearance: none;
  /* рамка и отступы */
  height: 49px;
  width: 292px;
  border: 1px #E5E5E5 solid;
  border-radius: 4px;
  padding: 14px 20px;
  font-family: inherit;
  cursor: pointer;
}

.select-control:not([multiple]) {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 20px;
  background-size: 10px auto;
  background-image: url("../image/catalog/svg/icon-selection.svg");
  ;
}

.select-control:hover,
.select-control:focus {
  border: 1px #68A2CA solid;
}

.view-button {
  margin: 0;
  padding: 12px 14px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-button:last-child {
  margin-right: 0;
}

.active-view-button {
  border: 2px solid #000000;
}

.catalog-search-results {
  display: grid;
  position: relative;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus {
  /*Почему выбора состояния иконка остается подсвеченной голубым?*/
  border: 2px solid #68A2CA;
}

.view-button:active {
  border: 2px solid #000000;
}

.hotel-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  box-sizing: border-box;
}

.hotel-card-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  gap: 16px;
}

.hotel-card-description {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-link {

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
  grid-column: 1/3;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-price {
  text-align: end;
  font-family: inherit;
}

.catalog-line {
  width: 1060px;
  height: 1px;
  border: none;
  background: #E6E6E6;
  margin: 0;
}

/* pagination-list */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Item */


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
}


.pagination-link-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-current {
  color: #242424;
  background-color: #ffffff;
}

.pagination-disabled {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 0;
  background: white;
  color: #000000;

}


.pagination-link:not(.pagination-link-current):hover,
.pagination-link:not(.pagination-link-current):not(.pagination-disabled):focus {
  background: #68A2CA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.star-1 {
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../image/catalog/svg/icon-star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  align-self: center;
}

.star-2 {
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg");
  background-position: 0 0, 24px 0;
  background-repeat: no-repeat;
  align-self: center;
}

.star-3 {
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0;
  align-self: center;
}

.star-4 {
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg");
  background-position: 0 0, 24px 0, 48px 0, 72px 0;
  background-repeat: no-repeat;
  align-self: center;

}

.star-5 {
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg"), url("../image/catalog/svg/icon-star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0, 72px 0, 96px 0;
  align-self: center;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 45px 70px 35px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: start;
  max-width: 160px;
}


.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}



.social-list-item {
  display: block;
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;


}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-item a:hover svg {
  fill: #68A2CA;
}

.social-list-item a:focus svg {
  fill: #68A2CA;
}

.social-list-item a:active svg {
  fill: rgba(104, 162, 202, 0.30);
}

.footer-contacts {
  width: 340px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact-phone {
  margin: auto 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;

}

.contact-phone:hover {
  color: #756157
}

.contact-phone:focus {
  color: #756157
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.30);
}


.footer-made-by {
  width: 115px;
  height: 40px;
  position: relative;
}

.logo svg {
  fill: #000000;
}

.logo:hover svg {
  fill: #756157
}


.logo:focus svg {
  fill: #756157
}

.logo:active svg {
  fill: rgba(117, 97, 87, 0.30);
}

.made-by-icon {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}


.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  min-height: 36px;
  background: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.selection-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}



.button-rating {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-transform: uppercase;

}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.30)
}

.button-additional {
  font-family: inherit;
  background: #82B3D3;
}

.button-additional:hover {
  background: #68A2CA;
}

.button-additional:focus {
  background: #68A2CA;
}

.button-additional:active {
  color: rgba(255, 255, 255, 0.30)
}

.favorite-button {
  background: #7DB54F;
}

.favorite-button:hover,
.favorite-button:focus {
  background: #6C9E42;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.30)
}

.reset-button {
  background: transparent;
}

.reset-button:hover {
  background: transparent;
  opacity: 0.3;
}

.reset-button:focus {
  background: transparent;
  border: 2px #83B3D3 solid;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  display: none;

}

.modal {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 64px 70px;
  background-color: white;
  border-radius: 4px;
  width: 717px;
}

.modal-content {
  position: relative;
}

.title-modal {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: -18px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../image/index/svg/icon-modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:focus {
  border: 2px #83B3D3 solid;

}

.field {
  display: block;
  width: 440px;
  height: 48px;
  box-sizing: border-box;
  border: solid 1px transparent;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  color: black;
  line-height: 24px;
  padding: 12px 20px;
  position: relative;
}

.index-field-date-icon {
  position: absolute;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 16px;
  height: 15px;
  background-image: url("../image/index/svg/icon-date.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
}

.form-label span {
  width: 137px;
  font-size: 20px;
  font-family: PT Sans;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  padding: 12px 0;
}

.additional-span {
  display: block;
  margin-left: 137px;
  margin-bottom: 23px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: PT Sans;
  font-weight: 400;

}

.fail-span {
  color: #FF5757;
}

.guests-counter {
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 110px;
  flex-direction: row;
  width: 577px;
  margin-bottom: 48px;


}

.form-label-guests {
  display: block;
  box-sizing: border-box;
  width: 136px;
  font-size: 20px;
  font-family: PT Sans;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  padding: 12px 0;
}

.guests-field {
  width: 110px;
  text-align: center;

}

.guests-field-wrapper {
  width: 110px;
  position: relative;
}

.form-label-guests-child {
  margin-left: 88px;
  /* position: relative; */
}

.number-button {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: none;
  opacity: 0.3;
}

.number-button-minus {
  background-image: url("../image/index/svg/icon-minus.svg");
  left: 10px;
  z-index: 2;
}

.number-button-plus {
  background-image: url("../image/index/svg/icon-plus.svg");
  right: 10px;

}

.number-button:hover {
  opacity: 1;
}

/* Рамка не меняет цвет??? */
.number-button:focus {
  opacity: 1;
  border: 2px #82B3D3 solid;
}

.information-button {
  display: inline;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: #83B3D3;
  background-image: url("../image/index/svg/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  align-self: center;
  margin-left: 59px;
  position: relative;
  cursor: pointer;
}

.find-button {
  width: 100%;
  height: 48px;
}


.popover {
  width: 256px;
  min-height: 143px;
  box-sizing: border-box;
  /* background-image: url("../image/index/svg/triangle-background.svg");
  background-position: 120px 300px;
  background-repeat: no-repeat; */
  background-color: #333333;
  border: none;
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

.information-button:hover .popover {
  opacity: 1;
}

.popover::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: #333333;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}



.popover-content {
  background-color: #333333;
  color: white;
  font-size: 16px;
  font-family: PT Sans;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  text-align: left;
  border: none;
}



.modal-container-for-data-test {
  display: flex;
}
